[Desktop Entry]
Name=Hello World
Comment=A widget to take over the world!

Type=Service
Icon=battery

X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Fahim Shahriar
X-KDE-PluginInfo-Email=shahriarfahim23@gmail.com
X-KDE-PluginInfo-Name=com.github.f4him.hello
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=f4him.github.io
X-KDE-PluginInfo-Category=Mapping