[Desktop Entry]
Comment=A widget to get prayer times based on your location
Icon='./img/icon.png'
Name=AdhanTimes
Type=Service
X-KDE-PluginInfo-Author=Fahim Shahriar
X-KDE-PluginInfo-Category=Mapping
X-KDE-PluginInfo-Email=shahriarfahim23@gmail.com
X-KDE-PluginInfo-Name=com.github.AdhanTimes
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=github.com/f4him/AdhanTimes
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
